<!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="UTF-8">
        <title>ECS 162 Project 1</title>
        <link rel = "stylesheet" href = "../static/style.css">

    </head>

    <body>
        <header>
            <div>
                <ul class = "locations">
                    <li><a href = "https://www.nytimes.com/">U.S.</a></li>
                    <li><a href = "https://www.nytimes.com/international/">INTERNATIONAL</a></li>
                    <li><a href = "https://www.nytimes.com/ca/">CANADA</a></li>
                    <li><a href = "https://www.nytimes.com/es/">ESPAÑOL</a></li>
                    <li><a href = "https://cn.nytimes.com/">中文</a></li>
                </ul>
            </div>

            <div class = "header">
                <div class="header-left">
                    <p id="formattedDate"></p>
                    <p class="today">Today's Paper</p>
                </div>
                <div class="header-center"><h1 class = "title">The New York Times</h1></div>
                <div class="header-right"></div>
            </div>

            <hr class="header-border">
        </header>
        <section>
            <div class = "row-element-1">
                <div class="row1col left-col">
                    <!-- <a class="left-col-link"><img id="left-col-image" src="" width="" height=""></a>

                    <br>
                    <a class="thin-h2 top-row">
                        <h2 id="left-col1-header"></h2>
                    </a>

                    <a>
                        <p id="left-col1"></p>
                    </a>
                    <hr class = "hr-left">

                    <a class="left-bottom-link"><img id="left-bottom-image" src="" width="" height=""></a>
                    <a class = "tablet-remove thin-h2">
                        <h2 id="left-bottom-header"></h2>
                    </a>
                    <a class = "tablet-remove">
                        <p id="left-bottom"></p>
                    </a> -->
                </div>

                <div class="row1col center-col">
                    <!-- <a class="center-col-link"><img id="center-col-image" src="" width="" height=""></a>
                    <a class="center-col-link"><h2 id="center-col1-header" class="articleHeader"></h2></a>
                    <br>
                    <p id="center-col1" class="center-col"></p>
                    <hr class = "hr-center">
                    <a class="center-bottom-link"><img id="center-bottom-image"></a>
                    <a class="center-bottom-link"><h2 id="center-bottom-header" class="center-bottom"></h2>
                    </a>
                    <p id="center-bottom" class="center-bottom"></p> -->
                </div>
                <div class="row1col right-col">
                    <!-- <a class="right-top-link"><img id="right-top-image"></a>
                    <a class="thin-h2  top-row">
                        <h2 id="right-top-header"></h2>
                    </a>
                    <a>
                        <p id="right-top"></p>
                    </a>

                    <hr class = "hr-right">
                    <a class="right-bottom-link"><img id="right-bottom-image"></a>
                    <a class = "tablet-remove thin-h2"> 
                        <h2 id="right-bottom-header"></h2>
                    </a>
                    <a class = "tablet-remove">
                        <p id="right-bottom"></p>
                    </a> -->
                </div>
            </div>
        </section>
        <footer>
            <br>
            <hr class="footer">
        </footer>
        <script src = "../static/main.js"></script>
    </body>
</html>